<a href="https://colab.research.google.com/github/jxa78820-maker/Big_Data_ICP_1/blob/main/ICP1_Big_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Input as list
chars = list(input("Enter the word (e.g., Python): "))
# Delete two characters (let's say index 1 and 3)
del chars[1]
del chars[2]
# Reverse and print
chars.reverse()
print("".join(chars))

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b if b != 0 else 'Undefined'}")

In [ ]:
sentence = input("Enter a sentence: ")
new_sentence = sentence.replace("python", "pythons")
print(new_sentence)

In [6]:
score = float(input("Enter your score: "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f"Your grade: {grade}")

Your grade: A

In [ ]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length:", len(IT_companies))

# Add Twitter
IT_companies.add("Twitter")

# Insert multiple
IT_companies.update(["Tesla", "Netflix"])

# Remove one
IT_companies.remove("IBM")  # Raises error if not found

# Difference between remove and discard
# remove() raises an error if the element doesn't exist, discard() doesn't

# Join A and B
C = A.union(B)
print("Union:", C)

# Intersection
print("Intersection:", A.intersection(B))

# Subset
print("Is A subset of B?", A.issubset(B))

# Disjoint
print("Are A and B disjoint?", A.isdisjoint(B))

# Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

# Symmetric difference
print("Symmetric difference:", A.symmetric_difference(B))

# Delete sets
del A
del B

# Convert age to set
age_set = set(age)
print("List length:", len(age))
print("Set length:", len(age_set))

Length: 7
Union: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
List length: 8
Set length: 5